.news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news__post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__btns {
  display: flex;
  gap: 30px;
  align-items: center;
}
