@import '@/app/styles/style';
@import '@/app/styles/base/mixins';

.users__block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px 20px 20px;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.users {
  display: flex;
  gap: 30px;
  align-items: center;
}

.users__allUsers {
  cursor: pointer;
}

.users__online {
  cursor: pointer;
}

.users__nav {
  display: flex;
  gap: 30px;
}

.users__logo {
  position: relative;
  flex: 0 0 80px;
  height: 80px;
}

.users__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.users__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users__status {
  color: #818181;
}

.users__btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.users__button {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #656262;
}

.users__follow {
  color: #656262;
}
