@import '@/app/styles/style';
@import '@/app/styles/base/mixins';

.form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 60px;

  padding: 50px 20px;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.form__presentation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__title {
  @include adaptiveValue('font-size', 40, 30);

  max-width: 280px;
  line-height: 180%;
}

.form__subTitle {
  @include adaptiveValue('font-size', 14, 12);

  max-width: 360px;
  line-height: 130%;
}
