@import '@/app/styles/style';
@import '@/app/styles/base/mixins';

.header__btn {
  @include adaptiveValue('font-size', 14, 10, 700, 360, 1);

  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
}

.header__logo {
  @include adaptiveValue('width', 35, 20, 700, 360, 1);
  @include adaptiveValue('height', 35, 20, 700, 360, 1);

  position: relative;
}

.header__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
