@import '@/app/styles/style';
@import '@/app/styles/base/mixins';

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__blog {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.profile__left {
  flex: 0 0 60%;
}

.profile__rigth {
  flex: 1 0 30%;
}

.top {
  overflow: hidden;
  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.top__bg {
  position: relative;
  padding-bottom: 30%;
}

.top__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.top__body {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
}

.top__left {
  display: flex;
  flex: 1 0 50%;
  gap: 15px;
}

.top__logo {
  position: relative;
  width: 80px;
  height: 80px;
}

.top__foto {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.top__rigth {
  display: flex;
  flex: 1 0 50%;
  gap: 10px;
  justify-content: flex-end;
}

.top__title {
  margin-bottom: rem(20);

  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.07vw;
}

.top__status {
  font-size: 11px;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.friend {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.friend__info {
  display: flex;
  gap: 10px;
}

.friend__logo {
  position: relative;
  width: 60px;
  height: 60px;
}

.friend__foto {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.friend__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.friend__item {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newPost {
  overflow: hidden;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.newPost__body {
  display: flex;
  gap: 10px;
  align-items: center;
}

.newPost__logo {
  position: relative;
  width: 30px;
  height: 30px;
}

.newPost__foto {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.newPost__btn {
  align-items: end;
  align-self: flex-end;
}

.post__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentPost {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.contentPost__top {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.contentPost__block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contentPost__logo {
  position: relative;
  width: 40px;
  height: 40px;
}

.contentPost__foto {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.contentPost__picture {
  position: relative;
  padding-bottom: 60%;
}

.contentPost__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 10px;
}
