.message__top {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;

  border-bottom: 1px solid #1f1d1d;
}

.top__back {
  cursor: pointer;

  display: flex;
  gap: 2px;
  align-items: center;

  color: #656262;
}
