.dialog__block {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  padding: 20px 0 0;

  border: 1px solid #1f1d1d;
  border-radius: 20px;
}

.dialog__item {
  position: relative;

  display: flex;
  gap: 30px;

  padding: 10px 30px;

  transition: all 0.3s ease 0s;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;

    width: 89%;
    height: 1px;

    background-color: #1f1d1d;
  }

  &:hover {
    background-color: #333;
  }
}

.dialog__logo {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
}

.dialog__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.dialog__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.dialog__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users__button {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #656262;
}
