.aside__items {
  display: flex;
  flex-direction: column;
  gap: 2px;
  white-space: nowrap;
}

.aside__link {
  transition: all 0.3s;

  &:hover {
    background-color: rgb(196 195 195 / 20%);
  }
}

.active {
  color: #2a7272 !important;
}
