.aside__items {
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aside__link {
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: none;
  color: #2a7272 !important;
}