.main {
  padding-top: 30px;
  padding-bottom: 50px;
}

.main__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}
.main__leftBlock {
  flex: 0 0 15%;
}

.main__rigthBlock {
  flex: 1  0 80%;
}