.button {
  all: unset;

  cursor: pointer;

  padding: 5px 10px;

  text-align: center;

  border-radius: 5px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  padding-right: 0;
  padding-left: 0;
  transition: color 0.3s;

  &:hover {
    color: grey;
  }
}

.secondary {
  padding: 10px 0;

  font-weight: 500;
  color: #726a6a;

  background-color: #fdfdfd;
  border-radius: 10px;

  transition: color 0.3s;

  &:hover {
    color: grey;
  }
}

.tertiary {
  background-color: blue;
}

.link {
  display: flex;
  gap: 5px;
  align-items: center;

  padding-right: 0;
  padding-left: 0;

  text-decoration: none;
}

.fullWidth {
  width: 100%;
}
