.button {
  all: unset;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;


  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  transition: color 0.3s;
  padding-left: 0;
  padding-right: 0;
  &:hover {
   color: grey;
  }
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}

.fullWidth {
  width: 100%;
}

