@import '@/app/styles/style';
@import '@/app/styles/base/mixins';

.main {
  padding-top: 30px;
  padding-bottom: 50px;
}

.main__block {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main__leftBlock {
  flex: 0 0 15%;
}

.main__rigthBlock {
  flex: 1 0 80%;
}
