.decks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.decks__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decks__filtered {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}