@import '../../../styles/style.scss';
@import '../../../styles/base/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;

  color: #fff;
}

.header__btn {
  background: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  @include adaptiveValue("font-size", 14, 10, 700, 360,1);
}

.header__logo {
  position: relative;
  //padding-bottom: 100%;
  @include adaptiveValue("width", 30, 20, 700, 360,1);
  @include adaptiveValue("height", 30, 20, 700, 360,1);
}

.header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

