@import '../../../app/styles/style';
@import '../../../app/styles/base/mixins.scss';

.player {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player__control {
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #1f1d1d;
  border-radius: 20px;
  overflow: hidden;
  background: url('../../../assets/image/Waves.png') center / cover no-repeat;
}

.player__btnBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player__text {
  font-size: 10px;
}

.player__progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.6s;

  &:hover {
    color: #2a7272;
  }
}

.iconPlay {
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 2px solid #2a7272;
  border-radius: 50%;
}

.activeMute {
  transition: color 0.3s;
  color: #2a7272;
}

.activeRotate {
  color: #2a7272;
}

.player__range {
  width: 100%;
  height: 2px;
  background-color: #413d3d;
  border-radius: 5px;
  outline: none;
  appearance: none;
  margin: 0;
  padding: 0;
  transition: all 0.8s;

  &:hover {
    background-color: #4bd7d7;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 2px;
    height: 12px;
    background-color: #2a7272;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.8s;
    &:hover {
      background-color: #00ffff;
    }
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

.player__volume {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconMute {
  width: 26px;
  height: 26px;
}

.player__playlistBlock {
  padding: 20px;
  border: 1px solid #1f1d1d;
  border-radius: 20px;
  overflow: hidden;
}

.player__playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;

  //background: linear-gradient(90deg, rgb(42, 114, 114, 0.6) 1.1%, rgb(8, 30, 30,0.3) 90.1%);
  //backdrop-filter: blur(31.24287223815918px);
}

.track {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s;
  &:hover {
    color: #2a7272;
  }
}

.trackName {
  color: #2a7272;
}

.player__helpInfo {
  font-size: 11px;
}
